
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Run_Forward_RM.fbx
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Run_Forward_RM.fbx.meta
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Trot_Forward_RM.fbx
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Trot_Forward_RM.fbx.meta
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Turn_90_L_RM.fbx
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Turn_90_L_RM.fbx.meta
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Turn_90_R_RM.fbx
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Turn_90_R_RM.fbx.meta
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Walk_Backwards_RM.fbx
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Walk_Backwards_RM.fbx.meta
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Walk_Forward_RM.fbx
a2/Assets/UrsaAnimation/LOW POLY CUBIC - Goat and Sheep Pack/Animation/Goat&Sheep/RootMotion/GoatSheep_Walk_Forward_RM.fbx.meta
